{{ template "header.tmpl" . }}

    <div class='og-logout-container'>
      <form action="/logout" method="POST">
        <input type='hidden' name='prev_page' value='{{.URL}}' required>
        <button class='og-formbutton' type="submit">Log out</button>
      </form>
    </div>

    <p class='og-first-elem'>
      <strong>{{$.ClientId}}</strong> wants to log you in.

      {{if $.Identities}}
      To approve this action, select an identity below.
      {{end}}
    </p>

    {{range $.Identities}}
    <div>
      <form action="/approve" method="POST">
        <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
        <input type='hidden' name='identity_id' value='{{.Id}}' required>
        <button class='og-formbutton' type="submit">Log in with <strong>{{.Email}}</strong> ({{.ProviderName}})</button>
      </form>
    </div>
    {{end}}

    {{if $.Identities}}
    <p>
      You can also add additional identities using one of the following
      providers:
    </p>
    {{else}}
    <p>
      Add an identity using a provider below to get started:
    </p>
    {{end}}

    <div>
      <form action="/login-email" method="POST">
        <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
        <button class='og-formbutton' type="submit">Add identity with Email</button>
      </form>
    </div>

    {{range $.OIDCProviders}}
    <div>
      <form action="/login-oidc" method="POST">
        <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
        <input type="hidden" name="oidc_provider_id" value="{{.ID}}" required>
        <button class='og-formbutton' type="submit">Add identity with {{.Name}}</button>
      </form>
    </div>
    {{end}}

{{ template "footer.tmpl" . }}
