{{ template "header.tmpl" . }}

    <p>
      <strong>{{$.ClientId}}</strong> wants to log you in. To approve this
      action, select an identity below.
    </p>

    {{range $.Identities}}
    <div>
      <form class='' id='login-form' action="/approve" method="POST">
        <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
        <input type='hidden' name='identity_id' value='{{.Id}}' required>
        <button class='og-formbutton' type="submit">
          {{.Email}}
        </button>
      </form>
    </div>
    {{end}}

    <p>
      You can also add additional identities using one of the following
      providers:
    </p>

    {{range $.OIDCProviders}}
    <div>
      <form class='tn-form' id='login-form' action="/login-oidc" method="POST">
        <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
        <input type="hidden" name="oidc_provider_id" value="{{.ID}}" required>
        <button class='button' type="submit">Continue with {{.Name}}</button>
      </form>
    </div>
    {{end}}

{{ template "footer.tmpl" . }}
