{{ template "header.html" . }}

    <!--
    {{if .DifferentIps }}
    <p>
      <strong>WARNING:</strong> This device has a different IP address than the
      device that initiated the login. Someone could be trying to phish you.
      Show extra caution.
    </p>

    <div class='og-ip-list'>
      <div class='og-ip-data'>
        <div>
          <span class='og-ip-label'>This device IP:</span>
          {{.MagicIp}}
        </div>
        {{if .UseGeoDb}}
        <div>
          <span class='og-ip-label'>Country:</span>
          {{.MagicIpGeo.Country_long}}
        </div>
        <div>
          <span class='og-ip-label'>City:</span>
          {{.MagicIpGeo.City}}
        </div>
        {{end}}
      </div>

      <div class='og-ip-data'>
        <div>
          <span class='og-ip-label'>Original device IP:</span>
          {{.OgIp}}
        </div>
        {{if .UseGeoDb}}
        <div>
          <span class='og-ip-label'>Country:</span>
          {{.OgIpGeo.Country_long}}
        </div>
        <div>
          <span class='og-ip-label'>City:</span>
          {{.OgIpGeo.City}}
        </div>
        {{end}}
      </div>
    </div>

    <p>
      {{if .UseGeoDb}}
      <strong>NOTE:</strong> Even if the IP addresses are from the same
      location, that doesn't mean it's safe. Someone could be using a VPN to
      appear to be near you.
      {{end}}

      We recommend verifying that the IP addresses above are the ones your
      devices are using by visiting
      <a href='{{.RootUri}}/ip'>{{.RootUri}}/ip</a>
      on each device.
    </p>

    {{end}}
    -->

    {{if .DifferentBrowsers}}
    <p>
      The link opened in a different browser than was used to initiate the
      login. This often happens when opening links from email apps. You can
      copy the URL for this page and paste it into another browser. If you're
      trying to log in on another device, you can select the QR code option on
      that device and scan it from a device with a camera and a browser that's
      already logged in.
    </p>
    {{end}}

    <form class='tn-form' action="/complete-email-login" method="POST">
      <div>
        <label for='name'>Name (optional)</label>
        <input type="text" name="name" >
      </div>
      <input type="hidden" name="magic_link_key" value="{{.Key}}" required>
      <input type="hidden" name="instance_id" value="{{.InstanceId}}" required>
      <button class='button' type="submit">Confirm Login</button>
    </form>

    <!--
    {{if .DifferentIps }}
    {{if .UseGeoDb}}
    <p>
      This site includes IP2Location LITE data available from
      <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.
    </p>
    {{end}}
    {{end}}
    -->

{{ template "footer.html" . }}
