
  </div>

  <script>
    // FedCM feature detection from here: https://github.com/fedidcg/FedCM/issues/240#issuecomment-2004650817
    function getChromeVersion () {     
        const raw = navigator.userAgent.match(/Chrom(e|ium)\/([0-9]+)\./);
        return raw ? parseInt(raw[2], 10) : false;
    }

    if (window["IdentityProvider"] && IdentityProvider.register != undefined && getChromeVersion() >= 128) {
      const fedcmBtn = document.getElementById('og-register-fedcm-button');
      fedcmBtn.classList.remove('og-remove');
      fedcmBtn.addEventListener('click', () => {
        const rootUri = {{.RootUri}};
        const registerUri = `${rootUri}/fedcm/config.json`;
        IdentityProvider.register(registerUri);
      });

      //const fedcmLoginFormContainer = document.getElementById('og-login-fedcm-form-container');
      //if (fedcmLoginFormContainer) {
      //  fedcmLoginFormContainer.classList.remove('og-remove');
      //}

      const fedcmLoginDoneButton = document.getElementById('og-fedcm-login-done-button');
      if (fedcmLoginDoneButton) {
        fedcmLoginDoneButton.addEventListener('click', () => {
          IdentityProvider.close();
        });
      }
    }
  </script>
</body>
</html>
