{{ template "header.tmpl" . }}

    <p>
        <strong>{{$.ClientId}}</strong> is requesting access to your email address.
    </p>

    <form class='tn-form' id='login-form' action="/google" method="POST">
      <input type="hidden" name="request_id" value="{{$.RequestId}}" required>
      <button class='button' type="submit">Continue with Google</button>
    </form>

{{ template "footer.tmpl" . }}
