:root {
  --text-color: #222;
  --line-color: #222;
  --button-main-color: #555555;
  --background-color: #fff;
  --hover-color: #444;
  --menu-label-height: 60px;
  --border-radius: 5px;
}

body {
  font-family: Arial;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  margin: 0px;
  background: var(--background-color);
  /* Without this text in buttons is white-on-white on iOS Safari. No idea what
   * the root cause is. Seems to only affect more recent versions of iOS. Found
   * the fix here: https://stackoverflow.com/a/69888987/943814 */
  -webkit-text-fill-color: var(--text-color); 
}

input {
  background: var(--background-color);
}

.content {
  position: relative;
  max-width: 480px;
  width: 100%;
  padding: 32px;
}

.tn-form {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 12px;
  gap: 12px;
  align-items: flex-start;
}

/* TODO: combine og-button and button (and maybe og-formbutton) */
.og-button, .button {
  font-size: 16px;
  padding: 12px 32px;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  -webkit-text-fill-color: var(--text-color); 
}
.og-button:hover, .button:hover {
  border: 1px solid var(--background-color);
  background-color: var(--hover-color);
  color: var(--background-color);
  -webkit-text-fill-color: var(--background-color); 
}

.og-top-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.og-formbutton {
  font-size: 16px;
  width: 100%;
  padding: 12px 32px;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  -webkit-text-fill-color: var(--text-color); 
}
.og-formbutton:hover {
  background: var(--hover-color);
  color: var(--background-color);
  -webkit-text-fill-color: var(--background-color); 
}
.og-formbutton svg {
  width: 20px;
  height: 20px;
}



.og-first-elem {
  margin-top: 64px;
}

.og-button-list {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.og-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.og-banner-container {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
}

.og-banner-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.og-banner-link-img {
  padding: 8px;
}

.og-auth-client-id {
  font-size: 1.2em;
  font-weight: bold;
}

.og-last-used {
  font-size: .8em;
}

.og-ip-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.og-ip-data {
  padding: 10px;
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
}

.og-ip-label {
  font-weight: bold;
}

.og-checkbox {
  transform: scale(1.5);
  margin: 10px;
}

.og-confirm-button {
  margin: 32px;
}

.og-identity-list-item {
  margin: 10px;
}

.og-remove {
  display: none;
}

#og-fedcm-login-done-button {
  margin-top: 32px;
}

svg {
  stroke: currentColor;
  fill: currentColor;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --background-color: #222;
    --line-color: #eee;
    --hover-color: var(--text-color);
  }
}
