:root {
  --text-color: #222;
  --line-color: #222;
  --button-main-color: #555555;
  --background-color: #fff;
  --hover-color: #eee;
  --menu-label-height: 60px;
  --border-radius: 5px;
}

body {
  font-family: Arial;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  margin: 0px;
  /* Without this text in buttons is white-on-white on iOS Safari. No idea what
   * the root cause is. Seems to only affect more recent versions of iOS. Found
   * the fix here: https://stackoverflow.com/a/69888987/943814 */
  -webkit-text-fill-color: var(--text-color); 
}

.content {
  position: relative;
  max-width: 480px;
  width: 100%;
  padding: 32px;
}

.navbar {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 20px;
  border: 3px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.navbar__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar a {
  color: var(--text-color);
}
.navbar__image {
  width: 42px;
}

#search-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#search-label{
  font-size: 1.5em;
}

#search-domain-input{
  font-size: 1.3em;
}

.domain-list-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}
.domain-list-item:hover {
  background: var(--hover-color);
}
.domain-list-item:any-link {
  color: var(--main-color);
  text-decoration: none;
}

.list-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}
.list-item:hover {
  background: var(--hover-color);
}

.button {
  padding: .5em 1em;
  /*margin: 5px;*/
  border: 2px solid var(--button-main-color);
  border-radius: .5em;
  color: #fff;
  -webkit-text-fill-color: #fff; 
  background-color: var(--button-main-color);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-family: -system-ui, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  white-space: nowrap;
}

.button:hover {
  color: var(--button-main-color);
  -webkit-text-fill-color: var(--button-main-color); 
  background-color: var(--background-color);
  border: 2px solid var(--button-main-color);
}

.dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}
.dialog__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 1em;
  border: 3px solid var(--text-color);
  border-radius: var(--border-radius);
  z-index: 1010;
  font-size: 2em;
}

.tn-form {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 10px;
  gap: 5px;
  align-items: flex-start;
}

.tn-requester-name {
  font-weight: bold;
  font-size: 1.2em;
}

.tn-button-row {
  margin: 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

.domain-type-radio {
  margin-top: 20px;
  margin-bottom: 10px;
}
.domain-type-radio-label {
  font-size: 1.2em;
}

#record-host-input {
  max-width: 120px;
  text-align: right;
}

.post-list-item {
  font-size: 1.5em;
}




.og-formbutton {
  font-size: 16px;
  width: 100%;
  padding: 12px 32px;
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.og-formbutton:hover {
  background-color: #eee;
}

.og-logout-container {
  position: absolute;
  right: 32px;
}

.og-first-elem {
  margin-top: 64px;
}

.og-formbutton svg {
  width: 20px;
  height: 20px;
}

.og-button-list {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.og-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.og-banner-container {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
  padding: 0 5px;
}

.og-banner-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.og-auth-client-id {
  font-size: 1.2em;
  font-weight: bold;
}

.og-last-used {
  font-size: .8em;
}

.og-ip-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.og-ip-data {
  padding: 10px;
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
}

.og-ip-label {
  font-weight: bold;
}

.og-checkbox {
  transform: scale(1.5);
  margin: 10px;
}

.og-confirm-button {
  margin: 32px;
}
